# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.benchmarks/
.hypothesis/
.pytest_cache/
pytest.ini
.coverage*
setup.cfg
pytype_output/

# Sublime Text project files
*.sublime-project
*.sublime-workspace

# MacOS
*.DS_Store

# Sphinx
docs/_build/

# Loto specific
scrap/
tmp.py
